body{
    /* background-color: black; */
    /* color: white; */
    font-family: GothamBold;
}
h1{
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: GothamBold;
}

@font-face {
    font-family: GothamBold;
    src: url(fonts/Gotham-Font/Gotham-Bold.otf);
}

.headercontainer{
    /* background-color: lightblue; */
    background: -webkit-linear-gradient(360deg,#224e4d 10%,#083023 360%); 
    background: linear-gradient(360deg,#224e4d 10%,#083023 360%);
    color: whitesmoke;
    margin-top: -20px;
    width: 100%;
    height: 180px;
    padding: 1px;
    margin-bottom: 5px;
}

input[type="text"]{
    padding: 5px;
    width: 50%;
}

.searchcontainer{
    text-align: center;
}

button[type="submit"]{
    /* margin-bottom: 20px; */
    border-radius: 0;
    width: 100px;
    border: 1px solid #4285F4;
    background-color: #4285F4;
    padding: 10px;
    color: white;
}
button[type="submit"]:hover{
    background-color: white;
    border: 1px solid #4285F4;
    color: black;
    transition: 0.4s ease-out;
}